<div class="container">


  <!--Row One: Contains prodleft, image, promo, desc, add to basket and product info -->
  <div class="row">
   <!-- <img src='https://boiler-juice-static-assets-prod.s3-eu-west-1.amazonaws.com/marketing/homepage/DanDavid_HB_1110x137.gif'> -->

    <!-- Prodleft: contacts contact us details card -->
    <div class="col-lg-4 col-md-12">
      <!-- contact us details card -->
      <mat-card>
        <h2>Reduce Your Heating Oil Bill and get a FREE monitor with BoilerJuice Connected</h2>
        <h4>
          BoilerJuice Connected keeps you warm whilst saving you time and money
        </h4>
          <li>Pay monthly for your oil</li>
          <li>No more running out of oil</li>
          <li>No more dipping your tank</li>
          <li>No more hunting for the best price</li>
        <h4>
          Let BoilerJuice Connected take care of it all
        </h4>
      <!-- end of contact us details card -->
      </mat-card>
    </div>

    <!-- Prodright: contacts contact us blurb card -->
    <div class="col-lg-8 col-md-12">
      <mat-card>
        <h4>
          How BoilerJuice Connected Works
        </h4>

          <li>You get a free monitor that fits onto your tank</li>
          <li>The monitor sends oil level information to BoilerJuice</li>
          <li>BoilerJuice monitors and tops up your oil so you never run out</li>
          <li>BoilerJuice groups orders together to get you the best possible price</li>
          <li>You pay monthly via direct debit for your oil</li>
          <li>You pay a small monthly fee for the BoilerJuice Connected service</li>
          <br>
        <p><strong>Disclosure:</strong></p> 
        <li>When you sign-up to the BoilerJuice Connected service I earn a small referral fee.</li>
        <li>I was contracted to run the project that set up BoilerJuice Connected, and I remain a BoilerJuice Connected customer.</li>          
      </mat-card>
      <!-- end of contact us blurb card -->
    <!-- end of prodright -->
    </div>  
  <!-- end of row -->
  </div>
<!-- end of content-->
</div>