
* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}



footer {
     min-width: 768px;
   max-width: 980px;

  height: 200px;
  background: linear-gradient(to right, #2B3864 0%, #1B75BB 50%, #26A9E0 100%);
  margin: auto;
  border: 1px;
}

mat-card {
  width: 302px;
  height: 182px;
}