
  <div class="container">
    <footer>
    <div class = "row">
      <div class = "col-md-4 col-sm-12">
    <mat-card class="example-card"
      width-max>
      <mat-card-header>
        <div mat-card class="example-header-image"></div>
        <mat-card-title>Who We Are</mat-card-title>
        <mat-card-subtitle>All about SmartNow</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button
          label="About SmartNow"
          title="About SmartNow" 
          [routerLink]="['/about_smartnow']">About Us
        </button>

        <button mat-button
          label="Contact SmartNow"
          title="Contact SmartNow" 
          [routerLink]="['/contact_smartnow']">Contact Us
        </button>
        <button mat-button>News</button> 
      </mat-card-actions>
    </mat-card>

      </div>  

      <div class = "col-md-4 col-sm-12">
    <mat-card class="example-card"
      width=302px
      height="200px">
      <mat-card-header>
        <div mat-card class="example-header-image"></div>
        <mat-card-title>Important Stuff </mat-card-title>
        <mat-card-subtitle>Some of this is dull, but it is important! </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button
          label="FAQs"
          title="FAQs" 
          [routerLink]="['/faq']">FAQs
        </button>
        <button mat-button
           label="Privacy Policy"
          title="Privacy Policy" 
          [routerLink]="['/privacy_policy']">Privacy Policy
        </button>
        <button mat-button
          label="Terms and Conditions"
          title="Terms and conditions" 
          [routerLink]="['/terms_and_conditions']">T&Cs</button>
      </mat-card-actions>
    </mat-card>
        
      </div>  

            <div class = "col-md-4 col-sm-12">
    <mat-card class="example-card"
      width=auto>
      <mat-card-header>
        <div mat-card class="example-header-image"></div>
        <mat-card-title>Secure Payments</mat-card-title>
        <mat-card-subtitle>Mastercard, Visa, Google Pay </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        We encrypt all customer details and all card transactions are processed using 3D Secure.   
      </mat-card-content>
    </mat-card>
        
      </div>  
    </div>
    </footer>
  </div>
<!--
<mat-grid-list cols="3" rowHeight="200px">  
  <mat-grid-tile>
    <mat-card class="example-card"
      width-max>
      <mat-card-header>
        <div mat-card class="example-header-image"></div>
        <mat-card-title>Who We Are</mat-card-title>
        <mat-card-subtitle>All about SmartNow</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button
          label="About SmartNow"
          title="About SmartNow" 
          [routerLink]="['/about_smartnow']">About Us
        </button>

        <button mat-button
          label="Contact SmartNow"
          title="Contact SmartNow" 
          [routerLink]="['/contact_smartnow']">Contact Us
        </button>-->
<!--        <button mat-button>News</button> -->
<!--      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>-->

<!-- All the important stuff -->
<!--  <mat-grid-tile>
    <mat-card class="example-card"
      width=302px
      height="200px">
      <mat-card-header>
        <div mat-card class="example-header-image"></div>
        <mat-card-title>Important Stuff </mat-card-title>
        <mat-card-subtitle>Some of this is dull, but it is important! </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button
          label="FAQs"
          title="FAQs" 
          [routerLink]="['/faq']">FAQs
        </button>
        <button mat-button
           label="Privacy Policy"
          title="Privacy Policy" 
          [routerLink]="['/privacy_policy']">Privacy Policy
        </button>
        <button mat-button
          label="Terms and Conditions"
          title="Terms and conditions" 
          [routerLink]="['/terms_and_conditions']">Terms and Conditions</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <!-- Secure Payment -->
<!--  <mat-grid-tile>
    <mat-card class="example-card"
      width=auto>
      <mat-card-header>
        <div mat-card class="example-header-image"></div>
        <mat-card-title>Secure Payments</mat-card-title>
        <mat-card-subtitle>Mastercard, Visa, Google Pay </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        We pride ourselves on protecting your personal information.  We encrypt your customer details and all our card transactions are processed using 3D Secure.   
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>-->




