
<nav mat-tab-nav-bar mat-align-tabs="center">

  <a mat-tab-link
    label="Reduce Your Heating Bills"
    title="Reduce Your Heating Bills" 
    [routerLink]="['/reduce_your_heating_bills']" >Reduce Your Heating Bills</a>

  <a mat-tab-link
    label="Heating Oil Tanks"
    title="domestic_heating_oil_tanks" 
    [routerLink]="['/domestic_heating_oil_tanks']" >Heating Oil Tanks</a>

    <a mat-tab-link
    label="Oil Tank Installers"
    title="heating oil tank installers" 
    [routerLink]="['/oil_tank_installers']" >Heating Oil Tank Installers</a>


<!--  <a mat-tab-link
    label="Heating Oil Insurance"
    title="domestic_heating_oil_insurance" 
    [routerLink]="['/domestic_heating_oil_insurance']" >Heating Oil Insurance</a> -->

<!--  <a mat-tab-link
    label="Boiler Servicing"
    title="boiler_servicing" 
    [routerLink]="['/domestic_oil_gas_boiler_service']" >Boiler Servicing</a> -->

<!--  <a mat-tab-link
    label="Heat Pumps"
    title="replace_oil_gas_boiler_heat_pump" 
    [routerLink]="['/replace_oil_gas_boiler_heat_pump']" >Heat Pumps</a> -->

</nav>

