/*header {
  min-width: 768px;
  max-width: 980px;
  height: 100px;
  background: linear-gradient(to bottom, #2B3864 0%, #1B75BB 50%, #26A9E0 100%);
  margin: auto;
  border: 1px;
}*/
.container {
    background: linear-gradient(to bottom, #2B3864 0%, #1B75BB 50%, #26A9E0 100%);
}
mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
