<!-- Show this version if size is greater than sm-->
<div fxHide fxShow.gt-xs class="container">
    <div class="row">
      <div class="col">
        <cl-image 
          public-id="Logo/SmartNow_Logo_ednasr.png"
          alt="SmartNow logo">
            <cl-transformation 
              quality="auto" 
              fetch-format="auto"
              height="90"
              crop="scale">
            </cl-transformation>
        </cl-image>
      </div>
      <div class="col">      
          <h2 style="color:white; text-align:right; padding:20px 30px 0px 0px">0330 001 0212</h2>
      </div>
    </div>
</div>

<!-- Show this version if size is less than md-->
<div fxHide fxShow.lt-sm class="container">
    <div class="row">
      <div class="col">    
        <cl-image 
          public-id="Logo/SmartNow_ltjggl.png"
          alt="SmartNow logo">
            <cl-transformation 
              quality="auto" 
              fetch-format="auto"
              height="40"
              crop="scale">
            </cl-transformation>
        </cl-image>
      </div>
    </div>  
</div>

