#prodleft {
  float: left;
  min-width: 300px;
  width: 57%;
  background-color: #FFFFFF;
}

#image {
    float: left;
    margin: 0;
    background: #FFF;
    position: relative;
    padding: 4px;
    text-align: center;
}

#promo {
  float: left;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}

#desc {
  float: left;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}

#prodright {
  float: right;
  width: 40%;
  background-color: #FFFFFF;
  padding: 10px;
    background: #F3F3F3;
}