<div class="container">
  <!-- Title -->
  <div class="row">
    <div class="col">
      <h1>About SmartNow</h1>
    </div>
  </div>

  <!--Row One: Contains prodleft, image, promo, desc, add to basket and product info -->
  <div class="row">

    <!-- Prodleft: Contains image, promo, desc -->
    <div class="col">
      <p>
        SmartNow was started in Australia in 2009.  Back then energy prices were rising from very low levels, the jobs market was a bit sticky and people were really struggling with paying the enormous power bills that come from running large inefficient houses.  
      </p>
      <p>
        I had just quit my role at Telstra when a friend introduced me to an inexpensive energy monitor produced by a UK company.  I quickly realised that this was what Australians needed to get their bills under control and to make smart decisions about how to invest in solar panels to put on their rooftops.  From 2009-2018 we introduced over 100,000 energy monitors to Australia, saving Australians millions of dollars.  
      </p>
      <p>
        Having moved back to the UK in 2015, SmartNow continued with the aim of helping people reduce their reliance on fossil fuels.  
      </p>
      <p>  
        In 30 years time, very few households will be using fossil fuels to heat their homes and the long and difficult transition must start somewhere.  At the same point, the aim is not to demonise those of us that don't live in a zero-emission PassivHaus.  I use oil and gas and diesel (although I'd much rather not) and the aim here is to support those of us who do use fossil fuels to keep their families warm whilst providing sensible, practical solutions for those who want to reduce their carbon footprint and their bills.
      </p>
      <p>
        I love solar, electric cars, battery storage systems and heat pumps, and the best installations are the ones that work and make sense financially.
      </p>
      <p>Most of all I love helping people make smart decisions about where to invest their hard-earned cash in order to get the best result.  The cheapest unit of energy is the one you don't use - for everything else there's SmartNow.
      </p> 

    </div>
  <!--end of "row"-->  
  </div>
<!--end of "content"-->
</div>