<div class="container">


  <!--Row One: Contains prodleft, image, promo, desc, add to basket and product info -->
  <div class="row">
   <!-- <img src='https://boiler-juice-static-assets-prod.s3-eu-west-1.amazonaws.com/marketing/homepage/DanDavid_HB_1110x137.gif'> -->

    <!-- Prodleft: contacts contact us details card -->
    <div class="col-md-4 col-sm-12">
      <!-- contact us details card -->

        <h2>Find an Oil Tank Installer</h2>
        <h4>
          Coming soon - a seamless way to find a reputable local installer
        </h4>
          <li>Get quotes online</li>
          <li>See reviews from other customers</li>
          <li>No ringing around required</li>

        <h4>
          Let SmartNow take the strain out of your installation
        </h4>
      <!-- end of contact us details card -->

    </div>

    <!-- Prodright: contacts contact us blurb card -->
    <div class="col-md-8 col-sm-12">
     
    <!-- end of prodright -->
    </div>  
  <!-- end of row -->
  </div>
<!-- end of content-->
</div>