<ngx-json-ld [json]="schema"></ngx-json-ld>
<div class="container">
  <div class="row">
    <div class="col">
      <ng-container *ngIf="urlTownParameter then townCase else nextCase">
      </ng-container>

      <!-- this template called if urlTownParameter exists -->
      <ng-template #townCase> 
        <br>
        <h3 style="text-align: center">{{countyData.countyName | uppercase}}</h3>
        <h1 style="text-align: center">Oil Tank Installation in {{townName | titlecase}} </h1> 
        <h4>As the oil tank installation specialists in and around {{townName}}, the team at SmartNow are perfectly placed to assist with installing your new tank. Our friendly team can assist you over the phone or email, or we can visit you at home to ensure you get the best possible service.</h4>
      </ng-template>

      <!-- this template called if urlTownParameter does not exist -->
      <ng-template #nextCase>
        <ng-container *ngIf="urlCountyParameter then countyCase else noLocationCase">
        </ng-container>
      </ng-template>
      
      <ng-template #countyCase> 
        <br>
        <h1 style="text-align: center">Oil Tank Installation in {{countyData.countyName | titlecase}}</h1>
        <h4>As the oil tank installation specialists in {{countyData.countyName | titlecase}}, the team at SmartNow are perfectly placed to assist with installing your new tank. Our friendly team can assist you over the phone or email, or we can visit you at home to ensure you get the best possible service.</h4>
      </ng-template>

      <ng-template #noLocationCase> 
        <h1 style="text-align: center">Local Oil Tank Installation</h1> 
        <h4>As the oil tank installation specialists in the UK, the team at SmartNow are perfectly placed to assist with installing your new tank. Our friendly team can assist you over the phone or email, or we can visit you at home to ensure you get the best possible service.</h4>
      </ng-template>
    </div>
  </div>



  <div class="row">

    <!-- Prodleft: contacts contact us details card -->
    <div class="col-md-4 col-sm-12">
      <!-- contact us details card -->
        <mat-card>
        <h2>Arrange Your Tank Installation Online</h2>
        <h4>
          Coming soon - a seamless way to arrange the installation of your new tank
        </h4>

        <h4>
          Let SmartNow take the strain out of your installation
        </h4>
        </mat-card>
      <!-- end of contact us details card -->

    </div>

    <div class="col-md-4 col-sm-12">
      <!-- contact us details card -->
        <mat-card>
        <h2>Call Us</h2>
        <h4>
          Call us now on 0330 001 0212
        </h4>
          <li>Want help with chosing or siting your tank?</li>
          <li>Want a no-fuss service to get your new tank installed?</li>

        <h4>
          Call us now on 0330 001 0212
        </h4>
        </mat-card>
      <!-- end of contact us details card -->

    </div>

        <div class="col-md-4 col-sm-12">
      <!-- contact us details card -->
        <mat-card height=100>
        <h2>Request a Callback</h2>
        <h4>
          Coming soon - we'll give you a call to make the installation of your new tank as smooth as possible
        </h4>
        <h4>
          Let SmartNow take the strain out of your installation
        </h4>
        </mat-card>
      <!-- end of contact us details card -->

    </div>
  <!-- end of row -->
  </div>

  <b>

  <!-- locations row -->
  <div class="row">    
    <div class="col"> 
      <ng-container *ngIf="urlTownParameter then blankCase else showCase">
      </ng-container>

      <!-- this template called if urlTownParameter exists -->
      <ng-template #blankCase> 
      </ng-template>

      <!-- this template called if urlTownParameter does not exist -->
      <ng-template #showCase>
        <ng-container *ngIf="urlCountyParameter then showTownsCase else showCountyCase">
        </ng-container>
      </ng-template>
      
      <ng-template #showTownsCase> 
      <mat-accordion>
      <mat-expansion-panel>
            <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Select Your Nearest Town in {{countyData.countyName}}</strong>
      </mat-panel-title>
            </mat-expansion-panel-header>    
        <div class="card-deck row">
          <div class="card col-lg-3 col-md-4 col-sm-6" *ngFor="let Location of countyData.towns; let index = index">
            <div class="card-block" align="center"> 
              <button mat-raised-button color="primary"
              a [routerLink]="['/oil_tank_installers', urlCountyParameter, Location.townSlug]">{{Location.townName}}</button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      </mat-accordion>
      </ng-template>

      <ng-template #showCountyCase> 
      <mat-accordion>
      <mat-expansion-panel>
            <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Select Your County</strong>
      </mat-panel-title>
            </mat-expansion-panel-header>    
        <div class="card-deck row">
          <div class="card col-lg-3 col-md-4 col-sm-6" *ngFor="let Location of location; let index = index">
            <div class="card-block" align="center"> 
              <button mat-raised-button color="primary"
              a [routerLink]="['/oil_tank_installers', Location.countySlug]">{{Location.countyName}}</button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      </mat-accordion>
      </ng-template>

    </div>
  </div>   

<!-- end of content-->
</div>