<mat-card>
  <h1>Privacy Policy</h1>
  <h4>Our full privacy policy is below, but here are the highlights:</h4>
  <li>We hate spam and we won't send you any or sell your details to anyone else.</li>
  <li>If you purchase a product from us, we may provide your details to third parties (such as delivery and distribution companies) for the sole purpose of delivering your order.</li>
  <li>If you request a quote from one of our suppliers, we will pass on your details to that supplier to provide a quote.  Each supplier is only allowed to use your details to provide the quote.</li>
  <li>If you give us permission, we may from time to time send you an email with further information.  These emails will have a proiminent "unsubscribe" link on them for you to use if you no longer wish to hear from us.  </li>
  <li>Somewhat obviously, we will ensure that your data is managed in accordance with the law / GDPR.</li>
  <li>We do not store your credit card data.</li>  
  <li>All your personal information is encyrpted and we use SSL through our site.</li>
  <br>
  <br>
  <br>
 <h3>Here is our privacy policy in full:</h3>
 <p><strong>What information do we collect?</strong></p>
<p>We collect data from you when you register on our website or place an order with us (whether as a guest to the site or from a personally created account). You can however visit our site anonymously at any time.</p>
<p><strong>What do we use your information for?</strong></p>
<p>We may use your information in the following ways:</p>
<ul type="disc">
<li>To process your order (your information both public and private will not be shared, sold, exchanged or given to any 3rd party company for any reason whatsoever without your consent, except for delivering the intended product or service that you have requested from us)</li>
<li>To keep you updated on the progress of your order</li>
<li>To assist you in the event of a problem completing your order or information request</li>
<li>To personalise your shopping experience by being able to respond to your individual requirements</li>
<li>To improve our service to you by evaluating feedback and information from you</li>
<li>To improve our customer service and technical support</li>
<li>To send email promotions/marketing (but only if you opt in to receive these emails) &ndash; once subscribed you can unsubscribe from any marketing contact from us through the link at the bottom of the email</li>
</ul>
<p><strong>Security &amp; Data Retention</strong><strong><br /> </strong>We employ security measures to protect your information from access by unauthorised persons and against unlawful processing, accidental loss, destruction and damage. We have a variety of security measures in place to protect your personal information. These include electronic safeguards, such as encryption, and physical safeguards and security.&nbsp;We will retain your information for a reasonable period or as long as the law requires.</p>
<p>Card payments are encrypted by our secure third-party payment provider. No payment information is stored by us.</p>
<p><strong>Your Consent</strong></p>
<p>By using our website you consent to our Privacy Policy and Terms and conditions.</p>
<p><strong>Withdrawing your consent</strong></p>
<ul>
<li>If you would like to withdraw your consent, please contact us directly.</li>
<li>Once you notify us of your request, we will respond to you as soon as possible.</li>
</ul>
<p><strong>Who has access to your data?</strong></p>
<p>Access to your personal data is restricted at all times. Only our employees will be able to access your data. Their access and activities are restricted to the purposes outlined above. 
<p><strong>Who is your data shared with?</strong></p>
<p>The information you provide to us may be given to third parties who act for us for the purposes set out in this policy or for other purposes approved by you. Those parties process information, fulfil and deliver orders, process credit card payments and provide support services on our behalf. &nbsp;We may also pass aggregate information on the usage of our website to third parties but this will not include information that can be used to identify you.</p>
<p>Finally, if our business enters into a joint venture with or is sold to or merged with another business entity, your information may be disclosed to our new business partners or owners. &nbsp;We will always take steps to ensure that your information is used by third parties in accordance with this policy and within the guidelines of the General Data Protection Regulation, 2018.</p>
<p>Unless required to do so by law, we will not otherwise share, sell or distribute any of the information you provide to us without your consent.</p>
<p><strong>Links to other websites</strong></p>
<p> This privacy notice does not cover the links within this site linking to other websites. We encourage you to read the privacy statements on the other websites you visit.</p>
<p><strong>Unsolicited Email</strong></p>
<p>Internet user privacy is of upmost importance to us and our customers. Our success depends on our ability to maintain the trust of our customers. To this end, we have two overriding policies:</p>
<p><strong>Message Recipient Policy</strong></p>
<p>Before customers can receive email messages, advertising or promotions, customers must have agreed to receive such messages, by either purchasing from us, by opting into one of our mailing lists or by making contact with us in other ways (such as the telephone) and requesting information. Any recipient may request at any time to be removed from our list, and we will comply with that request. In addition, we will thoroughly investigate any allegations made by recipients relating to unsolicited messages.</p>
<p><strong>Policy against advertising our website using unsolicited email messages</strong></p>
<p>We require that all e-mails promoting our business or its products are sent only to customers who have agreed to receive such messages. We prohibit any advertising of our brand and Web site using unsolicited email messages. If you feel you've been sent unsolicited emails promoting our brand or website and would like to register a complaint, please email us using our contact page. We will immediately investigate all allegations made related to unsolicited messages.</p>
<p><strong>Your email address is safe with us.</strong></p>
<ul type="disc">
<li>We will never your email addresses to other companies.</li>
<li>We will only share your email address with other companies if it is necessary to fulfill your order or request for quote.  The  third-party companies with which your email address is shared with have permission to use it ONLY for the purpose of fulfilling your order or providing your quote.</li>
<li>You can unsubscribe at any time.</li>
<li>We require that each marketing email message sent out from us includes an easy way for subscribers to remove themselves via an unsubscribe link.</li>
<li>If you receive a newsletter or marketing email and decide you don't like it, simply click the unsubscribe link at the bottom of the email.</li>
<li>If you feel you've been sent unsolicited email and would like to register a complaint, please email us using our contact page.</li>
</ul>
<p><strong>Definition of Spam</strong></p>
<p>Spam is unsolicited email sent in bulk. Any promotion, information or solicitation that is sent to a person via email without their prior consent, where there is no pre-existing relationship between the sender and the recipient, is spam.</p>
<p><strong>You also have the right to be forgotten and your consent can be withdrawn at any time.&nbsp; If you do withdraw consent, we will remove/delete any personal data we hold on you</strong></p>
<p>You are entitled to see the information held about you and you may ask us to make any necessary changes to ensure that it is accurate and kept up to date. If you wish to do this, please contact us.</p>
<p><strong>Changes to our Privacy Policy</strong></p>
<p>Any changes to our privacy policy in the future will be posted to the website and, where appropriate, through e-mail notification.</p>
<p><strong>CONTACT</strong><strong><br /> </strong>All comments, queries and requests relating to our use of your information are welcomed.</p>
<p>If you are unable to resolve your Privacy issue directly you have the right to complain to the <a href="https://ico.org.uk/concerns/handling/">Information Commissioner&rsquo;s Office (ICO)</a></p>
<p><strong>Latest Policy Update</strong></p>
<p>This Privacy Policy was updated on 10/9/19</p>                <p>&nbsp;</p>