<h2>Oil insurance for total peace of mind</h2>
<h3>Concerned about oil theft?  We've partnered with a specialist insurer to ensure you're never left out of pocket again.</h3>
<ul>
  <li>No excess to pay</li>
  <li>Covers the cost of repairs if your tank is damaged</li>
  <li>Super-fast claims process - we'll have you warm again in no time</li>
  <li>Low monthly payments</li>
</ul>
<form><h3>Get a Quote Now</h3></form>
<h3>Why have oil and tank insurance?</h3>
<ul>
  <li>Your household insurance may cover oil theft but will have an excess payable, often hundreds of pounds.</li>
  <li>A claim against your household insurance may increase your premiums upon renewal</li>
  <li>Specialist insurance offers great value for money with no excess and no premium increase if you make a claim</li>
  <li>If your tank is less than 5 years old you can even insure that against failure</li>
</ul>


